/node_modules
/public/hot
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
cms_angular
package-lock.json
.idea/workspace.xml
.idea/vcs.xml
.idea/php.xml
.idea/pharmacy_backend.iml
.idea/modules.xml
.idea/misc.xml
/public/upload
/public/storage